@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">API Test</h1>
    <p>Test AudioStreamer endpoints</p>
    <br />
    <form action="localhost:8081/api/Stream/audio" method="get" target="output">
        <label for="vid">Get Audio Stream</label>
        <br />
        <input type="text" id="vid" name="vid" placeholder="Provide YT video ID..." />
        <br />
        <br />
        <button type="submit">Test</button>
    </form>
    <br />
    <iframe name="output"></iframe>
</div>
